/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#929292;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#141e2c url(../images/main_bg.gif) repeat left top;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.clr2 {
	clear:both;
	padding:0;
	margin:0;
	width:0;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:25px;
	font-weight:bold;
	color:#353c46;
}
h3 {
	margin:8px 0;
	padding:8px 0;
	font-size:18px;
	font-weight:bold;
	color:#353c46;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#79acfa;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header2 {
}
.header2, .content, .menu_nav2, .fbg, .footer, form, ol, ol li, ul, .content .mainbar2, .content .sidebar2 {
	margin:0;
	padding:0;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
.header_resize2 {
	margin:0 auto;
	padding:0 ;
	width:960px;
	height:0 auto;
}
.logo {
	margin:0;
	padding:0;
	float:left;
	height:92px;
}
.logo2 {
	margin:0;
	padding:0;
	float:left;
	height:40px;
}
h1 {
	margin:0;
	padding:20px 0;
	font-size:48px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
	text-align:left;
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 span {
	color:#79acfa;
}
h1 small {
	display:block;
	margin:0;
	font-size:21px;
	font-weight:bold;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#fff;
}
.slider {
	padding:0 0 34px;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0 auto;
	padding:20px 0 0;
	height:50px;
	background:url(../images/menu.gif) repeat-x left top;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:50px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
	background:url(../images/menu_split.gif) no-repeat right top;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:17px 0 0;
	width:190px;
	height:33px;
	font-size:13px;
	line-height:17px;
	font-weight:bold;
	color:#3f3f3f;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	background:none;
}
.menu_nav2 ul li a {
	display:block;
	margin:0;
	padding:17px 0 0;
	width:190px;
	height:40px;
	font-size:13px;
	line-height:17px;
	font-weight:bold;
	color:#3f3f3f;
	text-decoration:Performance Manager;
	text-transform:uppercase;
	text-align:center;
	background:none;
}
.menu_nav2 {
	margin:0 auto;
	padding:20px 0 0;
	height:50px;
	background:url(../images/menu.gif) repeat-x left top;
}
.menu_nav2 ul {
	list-style:none;
	padding:0;
	height:50px;
	float:left;
	\\background-color:#ffffff;
}
.menu_nav2 ul li {
	margin:0;
	padding:0 auto 0 0;
	float:left;
	background:url(../images/menu_split.gif) no-repeat right top;
	\\background:url(../images/test.gif) repeat-x left top;
	\\border-right:1px white solid;
}	
.menu_nav3 ul li a {
	display:block;
	margin:0;
	padding:17px 0 0;
	width:190px;
	height:40px;
	font-size:13px;
	line-height:17px;
	font-weight:bold;
	color:#3f3f3f;
	text-decoration:Performance Manager;
	text-transform:uppercase;
	text-align:center;
	background:none;
}
.menu_nav3 {
	margin:0 auto;
	padding:20px 0 0;
	height:50px;
	background:url(../images/menu.gif) repeat-x left top;
}
.menu_nav3 ul {
	list-style:none;
	padding:0;
	height:50px;
	float:left;
	\\background-color:#ffffff;
}
.menu_nav3 ul li {
	margin:0;
	padding:0 0 0 0;
	float:left;
	background:url(../images/menu_split.gif) no-repeat right top;
}	
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:PM;
	color:#fff;
	background:url(../images/menu_a.gif) repeat-x left top;
}
.menu_nav2 ul li.active a, .menu_nav2 ul li a:hover {
	text-decoration:none;
	color:#fff;
	background:url(../images/menu_a.gif) repeat-x left top;
}
.menu_nav3 ul li.active a, .menu_nav3 ul li a:hover {
	text-decoration:none;
	color:#fff;
	background:url(../images/menu_a.gif) repeat-x left top;
}
.content {
	padding:0;
}
.content_resize {
	margin:0 auto;
	padding:18px 0 32px;
	width:960px;
	background:#f0f0f0 url(../images/content_bg.gif) repeat-x left bottom;
}
.content .mainbar {
	margin:0;
	padding:0 0 0 20px;
	float:left;
	width:640px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:8px;
	font-size:30px;
	line-height:1.2em;
	color:#3f3f3f;
	border-bottom:1px solid #d8d8d6;
}
.content .mainbar div.img {
	padding:12px 0 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #8b8b8b;
}
.content .mainbar .article {
	margin:0 0 32px;
	padding:0;
	background:repeat-x left bottom;
}
.content .mainbar .post_content {
	float:left;
	width:900px;
}
.content .mainbar .post_content {
	float:left;
	width:900px;
}
.content .mainbar .post_content2 {
	float:left;
	width:600px;
}

.content .mainbar .post_contenthist {
	float:left;
	width:630px;
	margin-left:0px;
		
	
}
.content .mainbar .post_contentdate {
	float:left;
	margin-left:250px;
	margin-top:-30px;
}
.content .mainbar .post_contentdevices {
	float:left;
	width:250px;
	margin-left:auto;
}
.content .mainbar .post_contentdevicesscrubs {
	float:right;
	width:-250px;
	margin-left:auto;
}
.content .mainbar .post_gmdevice {
	float:left;
	width:250px;
	margin-left:auto;
}
.content .mainbar .post_gmscrubs {
	float:right;
	width:-250px;
	margin-left:auto;
}
.content .mainbar .post_contentnpn {
	float:right;
	width:300px;
}
.content .mainbar .post_content strong {
	color:#3f3f3f;
}
.content .sidebar {
	padding:0 20px;
	float:right;
	width:220px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:8px 0;
	background:repeat-x left bottom;
}
.content .sidebar h2 {
	color:#3f3f3f;
	text-transform:none;
	border-bottom:1px solid #d8d8d6;
}
.content .sidebar2 h2 {
	color:#3f3f3f;
	text-transform:none;
	border-bottom:2px solid #d8d8d6;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#929292;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:8px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li a {
	color:#929292;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#3f3f3f;
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#79acfa;
	font-weight:bold;
	text-decoration:underline;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin-bottom:0;
	padding:0 0 8px;
	color:#929292;
}
p.infopost a {
	padding:0 2px;
	color:#6e6e6e;
	text-decoration:underline;
}
.content .mainbar a.com {
	margin:0;
	padding:0;
	font-weight:normal;
	text-decoration:none;
	color:#3f3f3f;
}
.content .mainbar a.com:hover {
	text-decoration:underline;
}
.content .mainbar a.com span {
	padding-left:4px;
	font-weight:bold;
	color:#3f3f3f;
}
.content .mainbar a.rm {
	float:right;
	margin:0 0 16px;
	padding:11px 4px 0 20px;
	height:28px;
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	text-align:center;
	background:url(../images/readmore.gif) repeat-x left top;
}
.content p.pages {
	margin:0;
	padding:32px 0;
	font-size:11px;
	color:#929292;
	text-align:left;
	border-top:1px solid #d8d8d6;
}
.content p.pages span, .content p.pages a {
	padding:8px 12px;
	text-decoration:none;
	background:#fff;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#79acfa;
}
.content p.pages a {
	color:#929292;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.content .mainbar2 .comment {
	margin:0;
	padding:10px 0 0 0;
}
.content .mainbar2 .comment img.userpic {
	border:1px solid #dedede;
	margin:20px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#79acfa;
	background:url(../images/fbg_bg.gif) repeat-x left bottom;
}
.fbg h2 {
	color:#fff;
	padding-bottom:24px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:none;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#79acfa;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#fd941e;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#fd941e;
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
	color:#fff;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	margin:0;
	padding:0;
	float:right;
}
#formsearch {
	margin:0;
	padding:36px 0 0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 6px;
	float:left;
	width:174px;
	font-size:12px;
	line-height:14px;
	color:#aeaeae;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
}
.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	line-height:1.5em;
	color:#79acfa;
	background:#fff;
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#16202e;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#16202e;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}


.tabContainer{
	/* The UL */
	float:right;
	padding-right:13px;
}

.tabContainer li{
	/* This will arrange the LI-s next to each other */
	display:inline;
}

.tabContainer li a,.tabContainer li a:visited{
	/* Styling the hyperlinks of the tabs as colorful buttons */
	
	float:left;
	font-size:18px;
	
	/* display:block allows for additinal CSS rules to take effect, such as paddings: */
	display:block;
	
	padding:7px 16px 1px;
	margin:4px 5px;
	height:29px;
	
	/* Giving positioning */
	position:relative;
	
	/* CSS3 text-shadow */
	text-shadow:1px 1px 1px #CCCCCC;
}

ul .left{
	/* The left span in the hyperlink */
	
	height:37px;
	left:12px;
	position:absolute;
	top:0;
	width:10px;
}

ul .right{
	/* The right span in the hyperlink */
	
	height:37px;
	right:0;
	position:absolute;
	top:0;
	width:10px;
}

ul a.green{	background:url(../images/green_mid.png) repeat-x top center;	color:#24570f;}
ul a.green span.left{ background:url(../images/green_left.png) no-repeat left top;}
ul a.green span.right{ background:url(../images/green_right.png) no-repeat right top;}


ul a.Fgreen{     background:url(../images/green_mid.png) repeat-x top center;    color:#24570f;}
ul a.Fgreen span.left{ background:url(../images/green_left.png) no-repeat left top;}
ul a.Fgreen span.right{ background:url(../images/greenfail_right.png) no-repeat right top;}


ul a.blue{	background:url(../images/blue_mid.png) no-repeat top center;	color:#03426e;}
ul a.blue span.left{ background:url(../images/blue_left.png) no-repeat left top;}
ul a.blue span.right{ background:url(../images/blue_right.png) no-repeat right top;}


ul a.orange{	background:url(../images/orange_mid.png) repeat-x top center;	color:#724104;}
ul a.orange span.left{ background:url(../images/orange_left.png) no-repeat left top;}
ul a.orange span.right{ background:url(../images/orange_right.png) no-repeat right top;}


ul a.red{	background:url(../images/red_mid.png) repeat-x top center;	color:#6f0100;}
ul a.red span.left{ background:url(../images/red_left.png) no-repeat left top;}
ul a.red span.right{ background:url(../images/red_right.png) no-repeat right top;}


/* The hover states: */
ul a:hover{	background-position:bottom center; text-decoration:10.1.1.1;}
ul a:hover span.left{ background-position:left bottom;}
ul a:hover span.right{ background-position:right bottom;}

